/* CSS files add styling rules to your content */

body {
  font-family: "Gill Sans", sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color:#232946;
}

h1 {
  font-family:Copperplate, fantasy;
  color: #fffffe;
  font-size: 2.5rem;
}

h2 {
  font-family: monospace;
  color:#b8c1ec;
  font-size: 1.5rem;
}

p {
  color:#b8c1ec;
  font-size: 1rem;
  line-height: 1.5;
}

nav {
  width: 25%;
  padding: 0.5rem;
}

a:link {
  color: #b8c1ec;
}

a:visited{
  color: #eebbc3;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  font-size: 1rem;
}

.fullwidth {
  width: 100%;
  margin-bottom: 0.625rem;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  body {
    flex-direction: column;
  }
}
